Gordon Hugenberger, Senior Minister
Daniel Harrell, Associate Minister
Walter Kim, Lead Minister
Chris May, Minister to Women
Chris Sherwood, Assistant Minister
Jeff Schuliger, Minister of Small Groups
John David Punch,Minister to Youth
Kris Perkins, Minister to Families
Stuart DeLorme, Minister to Internationals
Dan Verrengia , Minister of Pastoral Care
Paul E. Toms, Senior Minister
David C. Fisher, Senior Minister
Pablo Polischuk, Senior Minister